<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>

    <!-- preloader -->
    <link rel="stylesheet" href="/public/css/themes/white/pace-theme-flash.css">
    <script src="/public/js/pace.min.js"></script>

    <!--- basic page needs -->
    <meta charset="utf-8">
    <title><%= user.firstName %>'s Account - Erkab</title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/erkab.min.css">

    <!-- script -->
    <script src="/public/js/modernizr.js"></script>

    <!-- favicons -->
    <link rel="icon" type="image/png" href="/public/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16"/>

</head>

<body>

<!-- Trip Summary (Ride info) Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title letter-spacing text-center uppercase">Trip Summary - 02/12/2017</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p><strong>Fare:</strong> 15EGP <br> <strong>Distance:</strong> 10KM <br> <strong>Pickup Point:</strong>
                    Starbucks Downtown <br> <strong>Driver:</strong> Clark K. <br> <strong>Car Model:</strong> Toyota
                    Corolla <br> <strong>Color:</strong> Silver <br> <strong>License No:</strong> 321 SLA</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include templates/header.ejs %>

<div class="container-fluid">

    <h1 class="letter-spacing text-center uppercase"><%= user.firstName %>'s Account</h1>

    <div class="row">
        <div class="col-12">
            <h3 class="letter-spacing text-center uppercase"><i class="fa fa-line-chart"></i> Stats</h3>
            <hr class="edit-profile-hr">
        </div>

        <div class="col-md-4 text-center col-4 col-sm-4 col-lg-4 col-xl-4 align-self-stretch">
            <h1 id="stats" class="text-center display-3 counter" data-count="0">0</h1>
            <h4 class="text-center text-erkab"><i class="fa fa-usd"></i><span
                        class="badge letter-spacing-sm uppercase">Saved</span></h4>
        </div>
        <!--data-count="<%= user.rides == null ? 0 : user.rides.length %>"-->
        <div class="col-md-4 text-center col-4 col-sm-4 col-lg-4 col-xl-4 align-self-stretch">
            <h1 id="rideCounter" class="text-center display-3 counter"
                data-count="<%= user.rides == null ? 0 : user.rides.length %>"
            >0</h1>
            <h4 class="text-center text-erkab"><i class="fa fa-car"></i><span
                        class="badge letter-spacing-sm uppercase">Rides</span></h4>
        </div>

        <div class="col-md-4 text-center col-sm-4 col-4 align-self-stretch col-lg-4 col-xl-4">
            <h1 id="stats" class="text-center display-3 counter" data-count="0">0</h1>
            <h4 class="text-center text-erkab"><i class="fa fa-exchange"></i><span
                        class="badge letter-spacing-sm uppercase">Km</span>
            </h4>
        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-xs-12 col-md-8 col-md-push-4">

            <div class="sticky-div">
                <h3 class="letter-spacing uppercase text-center"><i class="fa fa-suitcase"></i> Trips</h3>
                <hr class="edit-profile-hr">
            </div>

            <table id="rideTable" class="table table-hover text-center">
                <thead class="thead">
                <tr>
                    <th>#</th>
                    <th><i title="User Type" class="fa fa-user"></i></th>
                    <th><i title="Location" class="fa fa-map-marker"></i></th>
                    <th><i title="Date" class="fa fa-calendar"></i></th>
                    <th><i title="Time" class="fa fa-clock-o"></i></th>
                </tr>
                </thead>
                <tbody class="text-center">
                </tbody>
            </table>
        </div>

        <!-- edit form column -->
        <div class="col-xs-12 col-md-4 col-md-pull-8 text-center edit-profile-col">
            <div class="sticky-div edit-profile-sticky-div">
                <h3 id="profileH3" class="letter-spacing uppercase text-white"><i
                            class="fa fa-user-circle-o"></i>Profile
                </h3>
                <hr class="edit-profile-hr">
            </div>
            <form id="edit-form" action="/profile" method="post">
                <div id="mainForm">
                    <div id="nameField">
                        <label id="firstName" class="text-white uppercase">First Name</label><br>
                        <input name="firstName" type="text" class="input-margin-auto profileInput"
                               value="<%= user.firstName %>">
                        <br>
                        <label class="text-white uppercase">Last Name</label><br>
                        <input name="lastName" type="text" class="input-margin-auto profileInput"
                               value="<%= user.lastName %>">
                        <br>
                    </div>
                    <div id="fullNameField">
                        <label id="fullName" class="text-white uppercase">Name</label><br>
                        <input name="fullName" type="text" class="input-margin-auto profileInput"
                               value="<%= user.firstName %> <%= user.lastName %>">
                        <br>
                    </div>
                    <label class="text-white uppercase">Mobile Number</label><br>
                    <!-- Should send verification message. -->
                    <input name="mobileNum" type="tel" class="input-margin-auto profileInput"
                           value="<%= user.mobileNum %>">
                    <br>

                    <label class="text-white uppercase">Email</label><br>
                    <input name="email" type="email" class="input-margin-auto profileInput" value="<%= user.email %>">
                    <br>

                    <!-- College ID uneditable -->
                    <label class="text-white uppercase">College ID</label><br>
                    <input name="collegeId" type="number" class="input-margin-auto readonly-input"
                           value="<%= user.collegeId %>" readonly>
                    <br>

                    <div id="save-cancel-btn-group" class="btn-group" role="group">
                        <button id="saveBtn" type="submit" class="btn btn-outline-warning uppercase">Save Changes
                        </button>
                        <button id="cancelBtn" type="reset" class="btn btn-outline-danger uppercase"><i
                                    class="fa fa-ban"></i></button>
                    </div>
                    <button id="editBtn" type="button" class="btn btn-outline-warning uppercase"><i
                                class="fa fa-pencil-square-o"></i> Edit
                    </button>
                    <br>
                    <a href="#"><h5 id="changePassLink" class="uppercase">Change Password?</h5></a>
                </div>

                <!-- Should validate old and new password to see if they match onblur/onsubmit -->
                <div id="passwordField">
                    <label id="oldPasswordLbl" class="text-white uppercase">Old Password</label><br>
                    <input id="oldPasswordInput" name="oldPassword" type="password" class="input-margin-auto">
                    <br>
                    <label id="newPasswordLbl" class="text-white uppercase">New Password</label><br>
                    <input id="newPassword" name="newPassword" type="password" class="input-margin-auto">
                    <br>
                    <label id="newPasswordConfirmLbl" class="text-white uppercase">Re-enter Password</label><br>
                    <input id="confirmPassword" name="confirmPassword" type="password" class="input-margin-auto">
                    <br>
                </div>
                <div id="changePass-btn-group" class="btn-group" role="group">
                    <button id="confirmPassBtn" type="submit" class="btn btn-outline-warning uppercase">Confirm
                    </button>
                    <button id="cancelPassBtn" type="reset" class="btn btn-outline-danger uppercase"><i
                                class="fa fa-ban"></i></button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>

<% include templates/preloader.ejs %>

<!-- Java Script -->
<script src="/public/js/jquery-2.1.3.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/counter.js"></script>
<script src="/public/js/profile/editProfile.js"></script>
<script src="/public/js/profile/rideDataDisplay.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="/public/js/profile/validation.js"></script>

</body>
</html>
