<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title><%= user.firstName %>'s Profile - Erkab</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/erkab.css">

    <!-- script
   ================================================== -->
    <script src="/public/js/modernizr.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

<!-- Trip Summary (Ride info) Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title uppercase">Trip Summary - 02/12/2017</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p><strong>Fare:</strong> 16EGP <br> <strong>Distance:</strong> 13KM <br> <strong>Pickup Point:</strong>
                    McDonald's Stanley <br> <strong>Driver:</strong> Ahmed K. <br> <strong>Car Model:</strong> Toyota
                    Corolla <br> <strong>Color:</strong> Silver <br> <strong>License No:</strong> 321 SLA</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include templates/header.ejs %>

<!-- START OF CHANGEABLE VIEW -->
<div id="changeableView" class="container-fluid">

    <h1 class="container text-center uppercase main-title"><%= user.firstName %>'s Account</h1>
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-8 col-md-push-4 col-lg-8 col-lg-push-4">

            <div class="sticky-div">
                <h3 class="main-title uppercase text-center"><i class="fa fa-suitcase"></i> Your Trips</h3>
                <hr class="edit-profile-hr">
            </div>

            <table class="table table-hover text-center">
                <thead class="thead">
                <tr>
                    <th>#</th>
                    <th><i title="User Type" class="fa fa-user"></i></th>
                    <th><i title="Location" class="fa fa-map-marker"></i></th>
                    <th><i title="Date" class="fa fa-calendar"></i></th>
                    <th><i title="Time" class="fa fa-clock-o"></i></th>
                </tr>
                </thead>
                <tbody class="text-center">
                <% if(person.rideHistory.length > 0) {
                for(var i = 0; i < person.rideHistory.length; i++) { %>
                <tr class='clickable-row' data-toggle="modal" data-target="#myModal" data-backdrop="true"
                    style="cursor:pointer">
                    <th scope="row" class="text-center"><%= i + 1 %></th>
                    <td class="text-center"><%= person.rideHistory[i].userType %></td>
                    <td class="text-center"><%= person.rideHistory[i].area %></td>
                    <td class="text-center"><%= person.rideHistory[i].date %></td>
                    <td class="text-center"><%= person.rideHistory[i].time %></td>
                </tr>
                <% } %>
                <% } else { %>
                <td colspan="5" class="text-center"><i class="fa fa-exclamation-circle"></i> No ride data available.
                </td>
                <% } %>
                </tbody>
            </table>
        </div>

        <!-- edit form column -->
        <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-4 col-md-pull-8 col-lg-4 col-lg-pull-8 text-center edit-profile-col">
            <div class="sticky-div edit-profile-sticky-div">
                <h3 class="main-title uppercase text-white"><i class="fa fa-pencil-square-o"></i> Edit Profile</h3>
                <hr class="edit-profile-hr">
            </div>
            <form action="/profile" method="post">

                <label class="text-white uppercase">First Name</label><br>
                <input name="firstName" type="text" class="input-margin-auto" value="<%= user.firstName %>">
                <br>

                <label class="text-white uppercase">Last Name</label><br>
                <input name="lastName" type="text" class="input-margin-auto" value="<%= user.lastName %>">
                <br>

                <!-- Email uneditable -->
                <label class="text-white uppercase">Email</label><br>
                <input type="email" class="input-margin-auto" value="<%= user.email %>" disabled>
                <br>

                <label class="text-white uppercase">Mobile Number</label><br>
                <!-- Should send verification message. -->
                <input name="mobileNum" type="tel" class="input-margin-auto" value="<%= user.mobileNum %>">
                <br>

                <!-- College ID uneditable -->
                <label class="text-white uppercase">College ID</label><br>
                <input type="number" class="input-margin-auto" value="<%= user.collegeId %>" disabled>
                <br>

                <!-- Should validate old and new password to see if they match onblur/onsubmit -->
                <label class="text-white uppercase">Old Password</label><br>
                <input name="oldPassword" type="password" class="input-margin-auto">
                <br>

                <label class="text-white uppercase">New Password</label><br>
                <input name="newPassword" type="password" class="input-margin-auto">
                <br>
                <div id="save-cancel-btn-group" class="btn-group" role="group">
                    <button id="saveBtn" type="submit" class="btn btn-edited uppercase">Save Changes</button>
                    <button id="cancelBtn" type="reset" class="btn btn-danger uppercase"><i
                                class="fa fa-ban"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END OF CHANGEABLE VIEW -->

<% include templates/preloader.ejs %>

<!-- Java Script
================================================== -->
<script src="/public/js/jquery-2.1.3.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>